@charset "UTF-8";
head,body {
    background-color: silver;
    color: teal;  
    text-align: center;
    margin-left: auto; margin-right: auto;
}
div {
    position:static;
	left:50px;
	top:150px;
	width:800px;
	height:350px;
	margin-left: auto; margin-right: auto;
}
th, td, p, input {
    font:14px Verdana;
}
table, th, td {
    border: solid 1px dimgray;
    border-collapse: collapse;
    padding: 2px 3px;
    text-align: center;
    width: 200px;
}
th {
    font-weight:bold;
}
.btn {
  background: #008080;
  background-image: -webkit-linear-gradient(top, #008080, #008080);
  background-image: -moz-linear-gradient(top, #008080, #008080);
  background-image: -ms-linear-gradient(top, #008080, #008080);
  background-image: -o-linear-gradient(top, #008080, #008080);
  background-image: linear-gradient(to bottom, #008080, #008080);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 15px;
  padding: 0.5px 15px 0.5px 15px;
  text-decoration: none;
}

.btn:hover {
  background: #008080;
  background-image: -webkit-linear-gradient(top, #008080, #008080);
  background-image: -moz-linear-gradient(top, #008080, #008080);
  background-image: -ms-linear-gradient(top, #008080, #008080);
  background-image: -o-linear-gradient(top, #008080, #008080);
  background-image: linear-gradient(to bottom, #008080, #008080);
  text-decoration: none;
}
 


